#background {
    background: url(./rectangle.jpg) center;
    width: 1300px;
    height: 500px;
    margin: 80px auto;
    position: relative;
}

/* box-shadow值的说明 x、y、阴影宽度、阴影颜色 */
#content {
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 400px;
    width: 500px;
    height: 300px;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888;
    opacity: 0.8;
    text-align: center

}